IndexIgnore *
DirectoryIndex index.php index.cgi index.shtml index.html index.htm /goAway.html
ErrorDocument 404 /offensive/404.php

#AddHandler cgi-script .php .php3 .php4
#SetEnv REDIRECT_STATUS 200

# AddHandler php-cgi .php
# Action php-cgi /cgi-bin/php.cgi

Order Allow,Deny
Allow from All
# primedius.com
Deny from 69.64.147.243	216.227.149.245 81.158.135.58 65.34.123.103 151.203.66.152 68.69.84.151 70.49.11.117 193.166.235.103 69.243.18.143 84.130.100.148 67.184.216.236

ErrorDocument 403 /offensive/403.php

RewriteEngine on 
RewriteCond %{HTTP_REFERER} !^$ 
RewriteCond %{HTTP_REFERER} !^https?://[w\.]*(.*netvibes\.com|tmbo\.org|.*thismight\.be|tmbo\.wtf|tmbo\.io|tmbo\.dev|rocketsheep\.com|mysocalled\.com|.*filepile\.org|208\.85\.243\.229).*$ [NC] 
RewriteRule .*(jpg|JPG|jpeg|JPEG|gif|GIF)$ http://thismight.be/tmbologo.gif
