/* top bar containing some links */
#commands {
  font-weight: bold;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: var(--spacing, 10px);
}

#grid-container {
    --columns: minmax(200px, 1fr) max-content;
    overflow-x: auto;

    #discussions {
        --columns: minmax(200px, 1fr) max-content max-content;
    }

    #hof {
        --columns: repeat(6, max-content);
    }

    .grid {
        margin: 5px 0 15px 0;

        .header {
            font-weight: bold;
        }
    
        > ul {
            display: grid;
            grid-template-columns: var(--columns);
            list-style-type: none;
            margin: 0;
            padding: 0;
            gap: 0 var(--spacing-sm);
        
            li {
                display: grid;
                grid-column: 1 / -1;
                grid-template-columns: subgrid;
                padding: var(--spacing-xs);
        
                /* @media (width < 800px) {
                    .commentlabel {
                        display: none;
                    }
                } */
        
                &:nth-child(odd) {
                    background: var(--color-brand-light-alt);
                }
            }
        }
    }
}

.grid_thumbs {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        justify-items: center;

        li {
            overflow: hidden;
        }
    }
}