@import "main_nav.css";
@import "grid.css";

body {
    background: var(--color-brand);
    font-family: verdana, helvetica, sans-serif;
}

a:link {
    color: var(--color-link);
}

a:visited {
    color: var(--color-brand);
}

.orange.orange {
    color: var(--link-accent);
}

.bluebox,.entry {
	background: var(--bg-content);
	padding: 10px;
}

.entry {
	padding: 10px;
	font-size: 11px;
	line-height:21px;
	word-wrap: break-word;
}

.blocked, a.blocked {
	color: var(--text-muted);
}

.squelched, a.squelched {
	color: var(--text-muted);
	font-size:10px;
}

.entry .squelched {
	text-align:center;
}

.vote, label, .votecount {
	font-weight:bold;
	font-size:9px;
}

.timestamp, .votecount {
	color: var(--text-muted);
}

.timestamp {
	font-size:10px;
	padding-left:8px;
	float:right;
}

.timestamp a {
	color: var(--text-muted);
	text-decoration:none;
}


label {
	font-weight:bold;
	font-size:11px;
}

#content {
    display: grid;
    grid-template-columns: 175px 1fr;
    /* gap: 12px; */
    gap: var(--spacing-lg);
    max-width: 775px;
    margin: 0 auto;

    @media (width < 800px) {
        grid-template-columns: 1fr;

        #leftcol {
            display: none;
        }

        #rightcol {
            width: 100%;
            overflow: auto;
        }
    }
}

#titleimg {
    grid-column: 1 / -1;
    text-align: right;
    margin-bottom: calc(var(--spacing-lg) * -1);

    @media (width < 800px) {
        display: none;
    }
}

#leftcol, #rightcol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.contentbox {
    display: flex;
    flex-direction: column;
    background: var(--color-brand-dark);
    border: 2px solid black;

    .heading {
        color: var(--color-brand-light);
        font-weight: bold;
        padding: 0.5rem;

        .blame, .blame a {
            color: var(--color-brand-medium);
        }
    }
}

.blackbar {
    background: black;
    height: 11px;
    border-top: 1px solid #666699;
    border-left: 1px solid #333333;
}

.bluebox {
    background: var(--color-brand-light);
    padding: var(--spacing);
}

.imagelist {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) min-content;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        padding: var(--spacing-xs);

        @media (width < 800px) {
            /* .commentlabel {
                display: none;
            } */
            /* padding-block: var(--spacing-md); */
        }

        &:nth-child(odd) {
            background: var(--color-brand-light-alt);
        }
    }
}

/* .unreadlist {
    display: grid;
    margin: 0;
    padding: 0;

    li {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        padding: var(--spacing-xs);

        &:nth-child(even) {
            background: var(--color-brand-light-alt);
        }
    }
} */

#unread {
    line-height: 1.8;

    a {
        color: var(--color-brand-medium);
    }
}

#commentList {
    .entry:nth-child(odd) {
        background: var(--color-brand-light-alt);
    }

    .comment_link {
        transform: translateY(-10px);
        display: block;
    }
}

/* @media (width < 800px) {
    .mainheading {
        display: none;
    }
} */
