#comments_link {
	padding-left:24px;
}

#content {
	margin:8px;
}

body {
	padding:0px;
	margin:0px;
	font-family:verdana;
	font-size:11px;

}

#votelinks.off, #votelinks.off a {
	color:#ccc;
	text-decoration:none;
}

.blackbar {
        background: #000000;
        height: 11px;
        border-top: 1px solid #666699;
        border-left: 1px solid #333333;
}

.heading {
        background: #000033;
        padding: 5px;
        font-family: verdana;
        font-size: 10px;
        font-weight: bold;
        color: #ccccff;
}


.timestamp {
	float: right;
	padding-left: 8px;
	font-size: 9px;
	color: #9999cc;
}

audio {
	width: 500px;
}

/* comments */
#qc_dialog a,
#qc_dialog #pic a.userLink
{
	text-decoration:underline;
	color:#000099;
}

#qc_dialog a:visited,
#qc_dialog #pic a.userLink {
	color:#333366;
}

#qc_dialog a.userLink {
	color:#666699;
}

#qc_dialog .bluebox,.entry {
	background: #ccccff;
	padding: 10px;
	font-family: verdana;
	font-size: 10px;
}

#qc_dialog .entry {
	padding: 10px;
	font-size: 11px;
	line-height:21px;
}

#qc_dialog .blocked, a.blocked {
	color:#9999cc;
}

#qc_dialog .squelched, a.squelched {
	color:#9999cc;
	font-size:10px;
}

#qc_dialog .entry .squelched {
	text-align:center;
}

#qc_dialog .timestamp, .votecount {
	color:#9999cc;
}

#qc_dialog .timestamp {
	font-size:10px;
	padding-left:8px;
	float:right;
}

#qc_dialog .timestamp a {
	color:#9999cc;
	text-decoration:none;
}

#qc_dialog #qc_form {
  text-align: center;
}

#qc_dialog div#qc_vote {
  margin-top: 1em;
}

#qc_dialog #qc_commentrows {
  margin-top: 10px;
  overflow: auto;
}

#qc_dialog #qc_comments {
}

#qc_dialog input[name="submit"] {
  margin-top: 1em;
  margin-bottom: 0em;
}

#qc_dialog {
  padding-top: 10px;
  padding-bottom: 10px;
	overflow: hidden;
}