#comments_link {
	padding-left:24px;
}

#content {
	margin:8px;
}

body {
	padding:0px;
	margin:0px;
	font-family:verdana;
	font-size:11px;

}

#votelinks.off, #votelinks.off a {
	color:#ccc;
	text-decoration:none;
}

.blackbar {
        background: #000000;
        height: 11px;
        border-top: 1px solid #666699;
        border-left: 1px solid #333333;
}

.heading {
        background: #000033;
        padding: 5px;
        font-family: verdana;
        font-size: 10px;
        font-weight: bold;
        color: #ccccff;
}


.timestamp {
	float: right;
	padding-left: 8px;
	font-size: 9px;
	color: #9999cc;
}

audio {
	width: 500px;
}
