
p {
	font-family:verdana;
	font-size:11px;
	color:#333366;
}

a {
	color:#333366;
}

.label {
	text-align:right;
}

.copyright {
	font-size:10px;
}


input {
	padding:3px;
}

.button {
	padding:14px;
	width:100%;
}

.submitcell {
	text-align:center;
	padding-top:20px;
}

td {
	padding:4px;
}
