body {
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	background: #FFFFEE url(fade.png) top center repeat-x;
	color: #800000;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 5px;
}

td { font-size: 10pt; padding:0; margin:0; }
td.reply { border: 1px solid #D9BFB7; border-left: none; border-top: none; padding: 2px; }

blockquote { font-size: 10pt; }
.doubledash { color: #D9BFB7; }
.inputtext {
	margin: 0;
	margin-right: 2px; 
	padding: 1px 4px;
	border: 1px solid #aaa;
	outline: none;
	font-family: arial,helvetica,sans-serif; 
	font-size: 10pt;
}
input.inputtext { height: 1.75em; }
td > .inputtext { height: auto; padding-top: 2px; padding-bottom: 3px; }
.inputtext:focus { border: 1px solid #ea8; }
.logo img { border: 1px solid #800; }
.logo b span { font-family: tahoma;  }
.logo span { font-size: 28px; letter-spacing: -2px; }
hr { border: none; border-top: 1px solid #D9BFB7; height: 0px; }
.postblock { border: 1px solid #800; font-size: 10pt; padding: 0px 5px;  }
.rules { font-size: 10pt; }
.rules a { text-decoration: none; }

form a img { margin-top: 3px; }

iframe { background: #F0E0D6; border-right: 1px solid #D9BFB7; border-bottom: 1px solid #D9BFB7; }

.pages { border: none; background:#F0E0D6; border-right: 1px solid #D9BFB7; border-bottom: 1px solid #D9BFB7;  }
.pages td { border: none; padding: 1px 5px; }
.pages td { color: #b86; }
.pages td b { color: #800; }

.deletebuttons { text-align: right; }
.deletebuttons br { display: none; }

a, a:visited {
	color: #0000EE;
}

a:hover {
	color: #DD0000;
}

a.quotelink {
	color: #000080;
}

.logo {
	clear: both;
	text-align: center;
	font-size: 24pt;
	color: #800000;
	width: 100%;
}

form {
	margin-top: 0px;
}

.rules {
	width: 468px;
	font-size: 10px;
}

.rules a, .rules a:visited, .rules a:link {
}


.rules > li {
	list-style: none;
}
.rules > li:before { content: "\2022 \20"; }

.postblock {
	background: #EEAA88;
	color: #800000;
	font-weight: 800;
}

.footer {
	text-align: center;
	font-size: 12px;
}

.unkfunc {
	color: #789922;
}

.filesize {
	text-decoration: none;
}
td .filesize { display: inline; background: none; }

.filesize span, span.postername, span.filetitle, span.commentpostername {
	unicode-bidi: embed;
}

.filetitle, .replytitle {
	background: inherit;

	color: #CC1105;
	font-weight: 800;
}

.postername, .commentpostername {
	background: inherit;
	color: #117743;
	font-weight: 800;
}

.postertrip {
	background: inherit;
	color: #228854;
}

.oldpost {
	background: inherit;
	color: #f00000;
	font-weight: 800;
}

.omittedposts, .abbr {
	color: #707070;
}

.reply {
	background: #F0E0D6;
	color: #800000;
}

.replyhl {
	background: #F0C0B0;
	color: #800000;
}

.doubledash {
	vertical-align: top;
	clear: both;
	float: left;
}

a.quotejs:active, a.quotejs:link, a.quotejs:visited {
	color: #800000;
	text-decoration: none;
}

a.quotejs:hover {
	color: #d00;
}

.tn_thread {
	width: 200px;
	height: 100px;
	margin: 0px 20px 20px 20px;
	float: left;
	background: #eed;
	border: #ea8 1px solid;
	text-align: center;
}

.tn_reply {
	width: 100px;
	height: 100px;
	margin: 0px 20px 20px 20px;
	float: left;
	background: #eed;
	border: #ea8 1px solid;
	text-align: center;
}

#ad {
	width: 300px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	margin-left:-394px; /* -300 - 10 - (468-300)/2 */
	font-family: arial,helvetica, sans-serif;
	font-size: 11px;
}

#ad div {
	margin: 0;
	padding: 0.4em;
}

#ad div.ad-title, #ad h3, #ad .jltp_foot {
	text-align:center;
	padding: 0;
	margin: 0;
	background: #EEAA88;
	color: #800000;
	font-size: 11px;
}

#ad div.ad-title a, .bottomAdFoot a, .bottomAdFoot a:hover, #ad .jltp_foot a, #ad h3 a {
	font-family: arial,helvetica, sans-serif;
	color: #800000;
}

#ad div.ad-text a, #ad div.jltp a {
	font-family: arial,helvetica, sans-serif;
}
#ad .jltp .itm { padding: 0.2em; }
#ad .jltp { 
	overflow:hidden; 
	width: 120px; 
	padding: 0; 
	height: 240px; 
}
#ad .jltp_foot { 
	position:absolute; 
	bottom: 0; 
	height:16px; 
	width:100%; 
	text-align: center; 
}

.adHeadline {
	font-family: arial,helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.adText {
	font-family: arial,helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #800000;
}

.bottomAdTitle {
	font-family: arial,helvetica, sans-serif;
	background: #EEAA88;
	color: #800000;
}

#bottomAd {
	height: 52px;
	font-size: 11px;
}

#bottomAdOuter {
	width: 600px;
	border: 1px solid #EEAA88;
	font-size: 11px;
}

.spoiler a.quotelink, .spoiler .unkfunc {
	color: inherit;
}

.exif {
	display: none;
	font-family: arial,helvetica, sans-serif;
	font-size: xx-small;
}

.exif td {
	font-family: arial,helvetica, sans-serif;
	font-size: xx-small;
}

.exif td b {
	font-weight: 800;
	text-decoration: underline;
	font-size: x-small;
}

#header {
	position: absolute;
	top: 2px;
	left: 5px;
	right: 5px;
}

* html #header {
	width: 100%;
}

#navtop, #navbot {
	left: 0px;
	float: left;
}

#navtopr, #navbotr {
	right: 0px;
	display: block;
	float: right;
	text-align: right;
}

#header, #navbot, #navbotr { font-size: 9pt; color: #b86; }
#header a, #navbot a, #navbotr a, .pages td a  { font-weight: normal; padding: 1px; text-decoration: none; color: #800; }
#header a:hover, #navbot a:hover, #navbotr a:hover, .pages td a:hover { color: #d00; }
#footer { clear: both; padding-top: 10px; }
#footer center font { font-size: 7pt; }
.pages td a { color: #00e; }

td.replyhl { border: 1px solid #D99F91; border-left: none; border-top: none; padding: 2px; }
td.deletebuttons input.checkbox { margin: 1px 2px 1px 2px; }
div.logo img { margin: 5px 0px 5px 0px; }
